@{
    ViewData["Title"] = "Home Page";
}

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img alt="تصویر درباره ما" height="400" src="~/Home/cube-x-plosion-1170600.jpg" width="600" />
            </div>
            <div class="col-md-6">
                <h2>
                    درباره ما
                </h2>
                <p>
                    ما یک تیم حرفه‌ای هستیم که به ارائه بهترین خدمات آنلاین متعهد هستیم. هدف ما کمک به شما در رسیدن به موفقیت در دنیای دیجیتال است.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="services-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    خدمات ما
                </h2>
                <p>
                    ما مجموعه‌ای از خدمات را ارائه می‌دهیم که به شما کمک می‌کند تا حضور آنلاین خود را بهبود بخشید.
                </p>
                <ul>
                    <li>
                        <i class="fas fa-check">
                        </i>
                        طراحی وب
                    </li>
                    <li>
                        <i class="fas fa-check">
                        </i>
                        راه‌حل‌های تجارت الکترونیک
                    </li>
                    <li>
                        <i class="fas fa-check">
                        </i>
                        بهینه‌سازی موتور جستجو
                    </li>
                    <li>
                        <i class="fas fa-check">
                        </i>
                        مدیریت محتوا
                    </li>
                    <li>
                        <i class="fas fa-check">
                        </i>
                        بازاریابی دیجیتال
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img alt="تصویر خدمات" height="400" src="~/Home/abstract-polygonal-low-poly-free-photos-texture-1-1140458.jpg" width="600" />
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img alt="تصویر تماس با ما" height="400" src="~/Home/Abstract-background-028-HQ.jpg" width="600" />
            </div>
            <div class="col-md-6">
                <h2>
                    تماس با ما
                </h2>
                <p>
                    برای اطلاعات بیشتر و مشاوره رایگان با ما تماس بگیرید.
                </p>
                <p>
                    <i class="fas fa-phone">
                    </i>
                    ۰۱۲۳۴۵۶۷۸۹
                </p>
                <p>
                    <i class="fas fa-envelope">
                    </i>
                    mft@mftplus.ir
                </p>
            </div>
        </div>
    </div>
</section>