<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="/" />
    <link rel="stylesheet" href="~/lib/bootswatch/lumen/bootstrap.rtl.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/LearnAspNetMvc.styles.css" asp-append-version="true" /> *@
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
        }

        .content {
            flex: 1; /* Allows the content area to grow and take available space */
        }

        .footerr {
            height: 60px; /* Fixed height for the footer */
            background-color: #f8f9fa; /* Light background color */
            margin-top: auto; /* Pushes the footer to the bottom of the content */
        }
    </style>
</head>
<body>
    
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
